<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @quiz.survey %>
</p>

<p>
  <strong>Student:</strong>
  <%= @quiz.student %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
