<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @m4.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @m4.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @m4.three %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @m4.quiz %>
</p>

<%= link_to 'Edit', edit_m4_path(@m4) %> |
<%= link_to 'Back', m4s_path %>
