<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @program.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @program.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @program.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @program.four %>
</p>

<p>
  <strong>Student:</strong>
  <%= @program.student %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
