<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @m3.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @m3.two %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @m3.quiz %>
</p>

<%= link_to 'Edit', edit_m3_path(@m3) %> |
<%= link_to 'Back', m3s_path %>
