<h1>Listing googles</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Email</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @googles.each do |google| %>
      <tr>
        <td><%= google.member %></td>
        <td><%= google.email %></td>
        <td><%= google.student %></td>
        <td><%= link_to 'Show', google %></td>
        <td><%= link_to 'Edit', edit_google_path(google) %></td>
        <td><%= link_to 'Destroy', google, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Google', new_google_path %>
