<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @m2.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @m2.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @m2.three %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @m2.quiz %>
</p>

<%= link_to 'Edit', edit_m2_path(@m2) %> |
<%= link_to 'Back', m2s_path %>
