<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @m5.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @m5.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @m5.three %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @m5.quiz %>
</p>

<%= link_to 'Edit', edit_m5_path(@m5) %> |
<%= link_to 'Back', m5s_path %>
