<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @m6.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @m6.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @m6.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @m6.four %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @m6.quiz %>
</p>

<%= link_to 'Edit', edit_m6_path(@m6) %> |
<%= link_to 'Back', m6s_path %>
